.counter{
   min-width: 300px;
   height: 300px;
   font-size: 10em;
   padding: .5em;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 0.1em solid #FFF;
   border-radius: .2em;
   margin-bottom: .1em; 
}